[Desktop Entry]
Type=Application
Name=Control Panel
GenericName=Settings
Comment=NixlyCC - Control Center for NixlyOS
Icon=preferences-system
Exec=nixlycc
Terminal=false
Categories=Settings;Qt;
Keywords=settings;control panel;nixlycc;
StartupNotify=true
X-Window-Type=Normal
X-Window-Tiling=True
