[Desktop Entry]
Type=Application
Name=Monitors
GenericName=Display Settings
Comment=Configure monitors in NixlyCC
Icon=preferences-system
Exec=nixlycc --page monitors
Terminal=false
Categories=Settings;Qt;
Keywords=monitors;display;screen;
StartupNotify=true
X-Window-Type=Normal
X-Window-Tiling=True
